h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: whitesmoke;
    background-color: palevioletred;
    border: 3px dashed #333;
}

p,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
}

body {
    background-color: pink;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 40px auto;
    text-align: center;
}

img {
    border-radius: 50px;
    display: inline-block;
    width: 150px;
    height: 150;
    border: 3px dashed #333;
}

a:hover {
    border-bottom: 1px solid;
    background: #cdfeaa;
}

a:hover {
    border-bottom: 1px solid;
    background: #cdfeaa;
}

a:focus {
    border-bottom: 1px solid;
    background: #bae498;
}